<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Coffee _ Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/comm.css">

</head>
<body>

<!-- 헤더 위치 -->
<th:block th:replace="/v1/comm/header :: headerFragment"></th:block>

<div id="main" style="font-size:large; alignment: center; padding: 10px 50px ">
  <table>
    <tr>
      <td style="width:450px">
      <p>따라하며 배우는 Spring boot with IT 늦공 김부장<p>
        우리 같이 Spring boot 항해를 같이해요. <p>
        제가 이 배의 선장이 되어 볼게요.
      </p>
      <p>
        <hr>
      <ul style="list-style-type:square;">
        <li>소개 : 상품 주문 사이트</li>
        <li>진행기간 : 2024.10.18 ~ </li>
        <li>기술스택 : SpringBoot, Spring Security, PostgreSQL, MyBatis, Thymeleaf, Redis, Kafka, GitHub</li>
        <li>GitHub : <a th:href="@{https://github.com/JayJi5204/Order}">https://github.com/JayJi5204/Order</a> </li>
      </ul>
      </p>
      </td>
      <td style="width:auto">
        <img src="/img/Ship.PNG" style="width: 700px">
      </td>
    </tr>
  </table>
</div>

<!-- 푸터 위치 -->
<th:block th:replace="/v1/comm/footer :: footerFragment"></th:block>

</body>
</html>


